<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - intro_durs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
</head>
<body>
    <header>
       
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style=" padding-bottom:0; padding-top: 0;">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">
                        <img src="https://upload.wikimedia.org/wikipedia/en/6/65/UPR_at_Mayaguez_Seal.svg" width="50" height="50" alt="">
                    </a>
                    <div class="navbar-collapse d-sm-inline-flex">
                        <ul class="nav navbar-nav flex-grow-1">
                            <li class="nav-item">
                                
                                        <a class="btn btn-lg"  asp-area="" asp-page="/Index">Home</a>
                                
                            </li>
                            <li class="nav-item">
                                 <a class="btn btn-lg" asp-area="" asp-page="/Application/loginPage">Login</a>
                            </li>
                            <li class="dropdown-large">
                                <a href="#" class="dropdown btn btn-lg" data-toggle="dropdown" style=" text-decoration:none">Solicitudes<b class="caret"></b></a>

                                <ul class="dropdown-menu dropdown-menu-large row" style=" width:600px;">
                                    <li class="col-sm-3">
                                        <ul style="list-style-type: none;">
                                            <li class="dropdown-header">Division 1</li>
                                            <li><a href="#">Solicitud 1</a></li>
                                            <li><a href="#">Solicitud 2</a></li>
                                            <li><a href="#">Solicitud 3</a></li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Division 2</li>
                                            <li><a href="#">Solicitud 4</a></li>
                                            <li><a href="#">Solicitud 5</a></li>
                                            <li><a href="#">Solicitud 6</a></li>
                                            <li><a href="#">Solicitud 7</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-sm-3">
                                        <ul style="list-style-type: none;">
                                            <li class="dropdown-header">Division 3</li>
                                            <li><a href="#">Solicitud 8</a></li>
                                            <li><a href="#">Solicitud 9</a></li>
                                            <li><a href="#">Solicitud 10</a></li>
                                            <li><a href="#">Solicitud 11</a></li>
                                            <li><a href="#">Solicitud 12</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li class="col-sm-3">
                                        <ul style="list-style-type: none;">
                                            <li class="dropdown-header">Division 4</li>
                                            <li><a href="#">Solicitud 13</a></li>
                                            <li><a href="#">Solicitud 14</a></li>
                                            <li><a href="#">Solicitud 15</a></li>
                                            <li class="divider"></li>
                                            <li class="dropdown-header">Division 5</li>
                                            <li><a href="#">Solicitud 16</a></li>
                                            <li><a href="#">Solicitud 17</a></li>
                                            <li><a href="#">Solicitud 19</a></li>
                                        </ul>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </div>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
    </header>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    <footer class="border-top footer text-muted" style="background-color:white;">
        <div class="container">
            &copy; 2020 - intro_durs - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
