@page
@model intro_durs.Pages.Application.IndexModel
@{
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Shadows Into Light' rel='stylesheet'>

</head>
<body>
    <form method="post">
        <div class="jumbotron" style="display:block; margin-left:auto; margin-right:auto; margin-top:150px; margin-bottom:25%">
            <h1 class="display-4 text-center" style="font-family: 'Shadows Into Light';font-size: 52px;">Oficina de Registraduria Virtual</h1>
            <p class="lead text-center">
                A través de la Oficina de Registraduría Virtual los estudiantes activos,
                como egresados de la UPRM tendrán la oportunidad de realizar todas las solicitudes electrónicamente.
                Además, podrá verificar el estado de la solicitud realizada.
            </p>
            <hr class="my-4">
            <p class="text-center">
                <a class="btn btn-lg" style="background-color: #69c983" href="https://www.uprm.edu/registrar/services/pago.php" role="button">Pago en Línea</a>
                <a class="btn btn-lg" style="background-color: #69c983" href="#" role="button">Estado de Solicitud</a>
                <a class="btn btn-lg" style="background-color: #69c983" href="#" role="button">Pasos a Seguir</a>


            </p>


           

</form>

</body>
</html>
